<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="mailto:support@sexlikereal.com" title="SexLikeReal Support">support@sexlikereal.com</a>
                </li>
                <li>
                    <a href="skype:support.sexlikereal?chat">support.sexlikereal</a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; <script>document.write(new Date().getFullYear())</script>, powered by <a href="https://www.sexlikereal.com/">SexLikeReal</a>
        </div>
    </div>
</footer>